$brand-colour: #e52922;

.button {
  position: absolute;
  color: #ffffff;
  bottom: 24px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-origin: border-box;
  cursor: pointer;
}

.transparent-button {
  cursor: initial;
}

.transparent-button-label {
  font-size: 14px;
}

.transparent-button-icon {
  font-size: 20px;
  margin-left: 10px;
}

.white-button {
  background-color: #ffffff;
  color: $brand-colour;
  padding: 10px 20px;
  border-radius: 15px;
}

.white-button-label {
  font-size: 14px;
  margin-right: 10px;
  font-weight: bolder;
}

.toggle-button {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: lightcoral;
}

.toggle-button-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.active {
  background-color: rgb(253, 80, 68);
}

.button.toggle-button.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.button.toggle-button.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
