.progress-main-bar-container{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  .progress-bar-container{
    width: 300px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;

    div{
      content: "";
      background-color: lightcoral;
      height: 25px;
    }
  }

  .progress-count{
    width: 30px;
    margin-left: 10px;
    color: white;
  }
}