$brand-colour: #e52922;

.slide-6 {
  background-color: $brand-colour;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s 0.25s ease;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.slide-6 > .buttons-container > .white-button {
  position: relative;
  float: left;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  box-sizing: border-box;
}

.slide-6 > .buttons-container > .white-button > .white-button-icon {
  margin-left: 50px;
}

.force-container-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  transform: translate(-50%, -50%);
}

.force-container {
  width: 300px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 100px;
}

.panel-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-panel,
.bottom-panel {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 75px;
}

.top-panel {
  top: 15px;
  border-bottom: 1px solid rgb(220, 220, 220); // fallback for old browsers
  border-bottom: 1px solid rgba(220, 220, 220, 0.3);
}

.top-panel-label,
.bottom-panel-label {
  margin: 40px 130px 10px 20px;
}

.top-panel-value,
.bottom-panel-value {
  margin: 40px 150px 10px 20px;
  font-weight: bold;
}
.top-panel-unit,
.bottom-panel-unit {
  margin: 46px 200px 10px -145px;
  color: grey;
  font-size: 10px;
}

.bottom-panel-description {
  position: absolute;
  width: 300px;
  top: 60px;
  color: $brand-colour;
  text-align: center;
  font-weight: bolder;
}

.circle-container {
  margin: -47px 112px;
  top: 10%;
  width: 75px;
  height: 75px;
  background: #dddddd;
  border-radius: 50%;
}

.inner-circle {
  position: relative;
  width: 75px;
  height: 75px;
  background: #ffffff;
  border-radius: 50%;
  transform: scale(0.93);
}

.circle-icon {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}
.circle-icon svg {
  transform: scale(0.2) translate(-2625px, -1700px);
  stroke-width: 20px;
}

.circle-icon svg:nth-child(5) {
  transform: scale(0.5) translate(-943px, -628px);
  stroke-width: 20px;
}
