@font-face {
  font-family: 'Untitled Sans';
  src: url('../src/fonts/UntitledSans-Regular.woff2') format('woff2'),
    url('../src/fonts/UntitledSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$brand-colour: #e52922;

* {
  font-family: 'Untitled Sans';
}
.App {
  text-align: center;
  overflow: hidden;
  background-color: $brand-colour;
}
