@font-face {
  font-family: 'Untitled Sans';
  src: url('../src/fonts/UntitledSans-Regular.woff2') format('woff2'),
    url('../src/fonts/UntitledSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Untitled Sans';
}
.App {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  max-width: 1920px;
}
